<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Recommendations </title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
  </head>
  <body>
    <a href = "/" class=>
        <div class="header-container container m-3">
          <img src="{{url_for('static', filename='images/logo.png')}}" alt="SUSTech" class="img-fluid" width = "10%" height = "10%">
        <h1 class = "text-center">SUSTech</h1>
        </div>
    </a>
  
    <hr>
    <div class="container mt-4">
        <h4> Adjust preferences </h4>
        <br>
        <form method = "post">
            <p id = "p_sustainability">Sustainability: 50</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="sustainability" name = "sustainability">
            </div>

            <p id = "p_returns">Returns: 50</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="returns" name = "returns">
            </div>

            <p id = "p_risk">Risk: 50</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="risk" name = "risk">
            </div>
            <br>
            <div class="text-center">
                <button type = "submit" class="btn btn-secondary stock" id = "button_eco"> Get Recommendations </button>
            </div>
        </form>

    </div>

    <script src="{{url_for('static', filename='recommendation.js')}}"></script>
  </body>
</html>